@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-y-hidden [-webkit-tap-highlight-color:transparent]
  }

  main {
    @apply font-['barlow_condensed'] bg-gradient-radial h-[100vh] w-[100vw] 
    overflow-y-hidden overflow-x-hidden text-white
  }

  /* footer {
    @apply flex justify-end py-10 absolute right-0 bottom-0
  } */
  footer {
    @apply flex justify-end py-10 absolute bottom-0 w-full
  }
}

@layer components {
  .modal {
    @apply bg-white z-10 fixed h-full w-full m-auto top-0 bottom-0 right-0 flex flex-col
    left-0 transition-shadow duration-700 shadow-[0_0_0_999px_rgb(0,0,0,0.40)] 
    xl:h-3/5 xl:w-1/3 xl:rounded-lg xl:flex-row xl:flex-wrap xl:justify-between
  }

  .modal--hidden {
    @apply invisible fixed
  }

  .modal__header-title {
    @apply text-[hsl(229,64%,46%)] font-bold text-4xl text-center my-24
    xl:my-0 xl:text-left xl:w-1/2 xl:p-8
  }

  .modal__header-button {
    @apply text-gray-300 text-3xl order-1 my-24
    xl:my-0 xl:-order-none xl:self-start xl:p-8
  }

  .modal__img {
    @apply mx-auto h-3/5 xl:w-[80%] xl:h-[70%]
  }

  .score {
    @apply flex w-11/12 justify-between items-center mt-10 mx-auto p-2 rounded-lg max-w-[500px]
     border-[hsl(217,16%,45%)] border-solid border-[2px] xl:w-2/4 xl:p-6 xl:rounded-2xl xl:mt-14 xl:max-w-none xl:min-w-[700px]
  }

  .score__img {
    @apply w-24 ml-4 xl:w-full
  }

  .score__wrapper {
    @apply bg-white w-20 py-2 rounded-xl text-center flex flex-col 
    justify-center font-bold xl:py-4 xl:rounded-lg xl:w-40
  }

  .score__wrapper-title {
    @apply text-[hsl(229,64%,46%)] tracking-wider text-sm xl:tracking-widest xl:text-base
  }
  
  .score__wrapper-points {
    @apply text-[hsl(229,25%,31%)] text-5xl xl:text-6xl
  }
 
  .game {
    @apply bg-[url(/images/bg-triangle.svg)] bg-no-repeat bg-center h-[45%] flex 
    flex-wrap items-center justify-between w-[360px] mx-auto mt-[7%]
    transition-opacity opacity-100 duration-300 xl:w-[576px] xl:h-[50vh] xl:my-20
  }

  .game__button-img {
    @apply h-full w-full xl:h-[80px] xl:w-[80px]
  }

  .game__button {
    @apply bg-white rounded-full h-[160px] p-8 flex items-center border-[1rem]
     hover:scale-110 transition-transform w-[160px] xl:h-[230px] xl:p-[2.75rem] xl:w-[230px] xl:border-[2rem]
  }

  .paper {
    @apply border-[#5572f5] 
    shadow-[rgb(0,0,0,0.13)_0px_9px_1px_0px_inset,#2945c1_0px_9px_1px_0px]
  }

  .scissors {
    @apply border-[#eba722] 
    shadow-[rgb(0,0,0,0.13)_0px_9px_1px_0px_inset,#c76c1c_0px_9px_1px_0px]
  }

  .rock {
    @apply border-[#de405c] 
    shadow-[rgb(0,0,0,0.13)_0px_9px_1px_0px_inset,#9f1535_0px_9px_1px_0px]
  }

  .result {
    @apply opacity-0 transition-opacity duration-300
  }

  .result--visible {
    @apply opacity-100 transition-opacity
  }

  .result__wrapper {
    @apply flex items-center flex-wrap justify-between mt-[7%] w-11/12 min-w-[360px] mx-auto max-w-[500px] 
    xl:flex-nowrap xl:w-[1000px] xl:my-20 xl:max-w-none
  }

  .result__wrapper--transition {
    @apply transition-all duration-150 xl:w-[92%] xl:max-w-[1600px] 
  }

  .result__pick-button {
    @apply bg-white rounded-full h-[175px] w-[175px] border-[1.5rem] 
    flex items-center justify-center xl:h-[350px] xl:w-[350px] xl:border-[2.5rem]
  }

  .--undefined {
    @apply border-[#b9b9b9] 
    shadow-[rgb(0,0,0,0.13)_0px_14px_1px_0px_inset,rgb(255,255,255,0.5)_0px_14px_1px_0px]
  }

  .result__pick {
    @apply flex flex-col-reverse items-center xl:flex-col xl:w-full
  }

  .result__pick-text {
    @apply text-xl tracking-widest my-10 xl:text-3xl xl:mb-20 xl:text-center
  }

  .result__pick-img {
    @apply h-[60px] w-[60px] xl:h-[120px] xl:w-[120px]
  }

  .result__play_again {
    @apply min-w-[15rem] order-1 mx-auto xl:-order-none
  }

  .result__play_again-text {
    @apply text-6xl my-8 text-center tracking-wider animate-pulse
  }
  
  .result__play_again-button {
    @apply bg-white text-[hsl(229,64%,46%)] text-lg tracking-[0.2em]
    w-full py-3 px-14 rounded-xl hover:text-[#de405c]
  }

  .footer__button {
    @apply border rounded-lg px-10 py-2 mx-auto font-medium tracking-widest xl:mr-10
  }
}
/* 
md result pick button
width 100%
height 100%
min-width 215px


result pick text 72px

result pick width 100%

result wrapper transition max-width 1080px width 92%

result pick text textalign center */